.checkoutpage-content{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 5%;
}

.delivery-option{
    margin-left: 5%;
}

.pickup-option{
    margin-left: 5%;
}

.input{
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px gray;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.checkoutpage-content-right{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.order-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 10%;
    width: 60%;
    min-width: 300px;
    padding: 0px;;
    list-style: none;
}

.order-page-item{
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 300px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    color: black;
    
}

.order-page-item-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.order-page-item-qty{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
}

.order-page-item-info{
    line-height: 5px;
}

.order-page-price{
    width: 100%;
    margin-bottom: 20px;
}

.order-page-checkout-button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 123, 255);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.order-page-checkout-button:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
}

label{
    color: red;
}